@import './_stylesheet.scss';

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
		'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol';
	color: rgba($black, 0.85);
	background: #fff;
}

main {
	margin: 0 auto;
	padding: pxTorem(30px);
	max-width: pxTorem(740px);

	@media (max-width: 959px) {
		padding: pxTorem(20px);
	}


	h2 {
		margin: pxTorem(15px) 0 pxTorem(30px);
		@include fs30;
		font-weight: $semilbold;
	}

	.custom-block {
		margin: $margin;
		padding: 0 pxTorem(15px);
		border-left: pxTorem(5px) solid $green;
		background: rgba($black, 0.04);

		h3 {
			padding: pxTorem(5px) 0;
			@include fs24;
			font-weight: $semilbold;
		}
	}

	h4 {
		padding: pxTorem(15px) 0;
		@include fs20;
	}

	h5 {
		margin: $margin;
		@include fs20;
	}

	ul {
		margin: $margin;
		padding-left: pxTorem(25px);

		li {
			@include fs16;
			font-weight: $regular;
			color: rgba($black, 0.45);
		}
	}

	a {
		color: $green;
	}

	p {
		margin: $margin;
		@include fs16;
		font-weight: $medium;
		color: rgba($black, 0.85);
	}

	img {
		width: 30%;
	}
}